@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .slider-thumb::-webkit-slider-thumb {
        @apply appearance-none w-3 h-3 rounded-full bg-dark-gray cursor-pointer;
    }

    .slider-thumb::-webkit-slider-thumb:hover {
        @apply bg-blue-700;
    }
}

@layer utilities{
    .clip-path {
        clip-path: polygon(0 50px, 100% 0, 100% calc(100% - 50px), 0 100%);
    }
    .clip-path-hexagon {
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }
}  

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}